*.csv
*.txt
*.nii.gz
*.zip
*.mat
*.dcm
*.png
**/mlcube/workspace/*
!requirements.txt
!*/mlcube/workspace/parameters.yaml
models
tmpmodel
**/dagster_home*/*
!**/dagster_home/dagster.yaml
!**/dagster_home/workspace.yaml