*.csv
*.txt
*.nii.gz
*.zip
*.mat
*.dcm
*.png
**/mlcube/workspace*/*
!requirements.txt
!*/mlcube/workspace/parameters.yaml
models
tmpmodel
**/dagster_home*/*
!**/dagster_home/dagster.yaml
!**/dagster_home/workspace.yaml
**/data_prep_models/
**/constants.py
**/CreateCSVForDICOMs.py
**/figure_generator_wrapper.py
**/PrepareDataset.py